<!DOCTYPE html>
<html>
  <head>
      <%
        tit = "";
        key = "";
        desc = "";
        if (typeof extData === "undefined") {
            tit = "web前端在线效率工具 - 酷粒";
            key = "酷粒,web工具,字符串转JSON,json parser online,html特殊符号,github,javascript,css,html5,最热";
            desc = "在线字符串转JSON, HTML特殊字符表, Github每日web最热项目";
        } else {
            tit = extData.title;
            key = extData.keywords;
            desc = extData.desc;
        }
        %>
    <title><%= tit %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="keywords"
        content="<%= key %>">
    <meta name="description"
        content="<%= desc %>">
    <meta property="og:title" content="<%= tit %>"/>
    <meta property="og:description" content="<%= desc %>"/>
    <meta property="og:image" content="http://coollist.cn/images/logo.png"/>
    <meta property="og:type" content="item"/>
    <meta property="og:site_name" content="coollist"/>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-app="app" class="body">
  <div class="cl_body">
      <% include nav.ejs %>
      <%- body %>
      <div style="width: 800px;margin: 0px auto;">
      <a data-type="3" data-tmpl="800x90" data-tmplid="195" data-rd="2" data-style="2" data-border="1" href="#"></a>
      </div>
      <% include footer.ejs %>
  </div>

    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/bootstrap/bootstrap.js"></script>
    <script src="/vendor/angular/angular.js"></script>

    <!--SCRIPTS-->
    <script src="/js/app.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <!--SCRIPTS END-->
  <script type="text/javascript">
      (function(win,doc){
          var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
          if (!win.alimamatk_show) {
              s.charset = "gbk";
              s.async = true;
              s.src = "https://alimama.alicdn.com/tkapi.js";
              h.insertBefore(s, h.firstChild);
          };
          var o = {
              pid: "mm_17032365_24360508_81630968",/*推广单元ID，用于区分不同的推广渠道*/
              appkey: "",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
              unid: "",/*自定义统计字段*/
              type: "click" /* click 组件的入口标志 （使用click组件必设）*/
          };
          win.alimamatk_onload = win.alimamatk_onload || [];
          win.alimamatk_onload.push(o);
      })(window,document);
  </script>
  </body>
</html>
