<div class="ls_body" ng-controller="HomeController">
    <div class="ls_con">
    <% results.forEach(function(item, index){ %>
    <% numb = next.skip - 10 + index + 1%>
        <div class="ls_row">
        <div class="ls_title">

            <a href="/item/<%= item.id %>/<%= item.title %>" class="ls_a" target="_self" alt="<%= item.title %>"><%= item.title %></a>
            <div class="ls_summary"><%=: item.summary | summaryFilter %></div>
            <div class="ls_sub">
                <span>
                    <span class="ls_up" title="顶一下">
                        <%if (ups.join(",").indexOf(item.id) == -1) {%>
                        <span class="ls_up_img" id="<%= item.id %>_up" ng-click="duang($event,'<%= item.id %>')"></span>
                        <%} else {%>
                        <span class="ls_up_img ls_uped_img" id="<%= item.id %>_up" ng-click="duangRemove($event,'<%= item.id %>')"></span>
                        <%}%>
                    </span>
                    <span id="<%= item.id %>_up_count" class="ls_up_num"><%= item.up %></span> </span>
                <% if (item.nick) {%>
                    <span>&nbsp;&nbsp;<%=item.nick%>&nbsp;&nbsp;</span>
                <%}%>
                <span><%=: item.time | timeago %></span>
            </div>
        </div>
        </div>
    <% }) %>
    </div>
    <% if (results.length >= 10) {
       ext = "/next/?skip=" + next.skip;
        if (next && (next.query == "new")) {
            ext += "&query=new";
        }
    %>
        <div class="ls_more">
            <a class="ls_more_a" href="<%= ext%>" target="_self">更多</a>
        </div>
    <%}%>

    <!--<div style="position: absolute;right: 20px;top: 50px;width: 120px;">-->
        <!--<script type="text/javascript">-->
            <!--/*120*240 创建于 2017/1/18*/-->
            <!--var cpro_id = "u2880401";-->
        <!--</script>-->
        <!--<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>-->
    <!--</div>-->

</div>

